$verde:#00695c;
$azulclaro:#E7F1F9;
$azulbootstrap:#428bca;




@import "imports/contenido";
@import "imports/tablet";
@import "imports/cabecera";
@import "imports/tienda";
@import "imports/servicios";
@import "imports/contactos";
@import "imports/carousel";
@import "imports/general";
@import "imports/sesion";




