.login {
  background-color: $azulclaro;
  padding-bottom: 150px;
  color: $verde;
  margin-top: 176px;

  * {
    color: $verde
  }

  p {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 30px;
  }
}